body {
  padding: 0;
  margin: 0;
}
.mainboard-category {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 200px 200px 200px 200px;
  grid-template-areas:
    "bookname category id status actions"
    "books books books books books";
  width: 100%;
  overflow: hidden;
  font-weight: 400;
}
#bookname {
  grid-area: "bookname";
}
#category {
  grid-area: "category";
}
#id {
  grid-area: "id";
}
#status {
  grid-area: status;
}
#actions {
  grid-area: "actions";
}
